fastapi
uvicorn[standard]
pydantic
passlib[bcrypt]
mysql-connector-python
python-jose[cryptography]

# Optional for testing
pytest
requests

# Optional for documentation
uvicorn[docs]

SQLAlchemy
mysqlclient
pymysql
pyjwt
boto3
python-multipart

stripe
paypalrestsdk